<div class="row bg-light shadow rounded w-50 p-3">
  <form (submit)="addNewRestaurant()">
    <div class="form-group">
      <label>Restaurant Name:</label>
      <input type="text" class="form-control" name="newRestaurant.name" [(ngModel)]="newRestaurant.name">
      <span *ngIf="error.name" class="text-danger">{{error.name.message}}</span>
    </div>
    <div class="form-group">
      <label>Cuisine:</label>
      <input type="text" class="form-control" name="newRestaurant.cuisine" [(ngModel)]="newRestaurant.cuisine">
      <span *ngIf="error.cuisine" class="text-danger">{{error.cuisine.message}}</span>
    </div>
    <button type="button" class="btn btn-warning shadow rounded mr-2" [routerLink]="['/restaurant']">Cancel</button>
    <button type="submit" class="btn btn-primary shadow rounded">Register</button>
  </form>
</div>
    